/* big picture format */
.grid_container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "file-tree file-list";
  font-size: 0.9em;
}

.list_column {
  grid-area: file-list;
  border: 1px solid black;
  border-left: none;
}

/* table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid black;
  line-height: 2em;
}

th {
  text-align: left;
  font-weight: normal;
}

td:first-child,
th:first-child {
  padding-left: 1em;
}

td:last-child,
th:last-child {
  padding-right: 1em;
}

/* table content */
.file_icon {
  width: 1em;
  height: 1em;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.file_icon_text {
  font-size: x-small;
  position: absolute;
  margin: 0 0 0 0.3em;
  background: white;
  vertical-align: middle;
}

/* file tree */
.tree_column {
  grid-area: file-tree;
  border: 1px solid black;
}

.file_grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "arrow docname"
    ". subfolders";
  margin: 0.5em;
}

.arrow_container {
  grid-area: arrow;
  width: 1em;
  cursor: pointer;
}

.arrow {
  height: 1em;
  vertical-align: middle;
}

.arrow:hover {
  animation: rotate_down 0.5s forwards;
}

.arrow_down {
  height: 1em;
  transform: rotate(90deg);
}

@keyframes rotate_down {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

.docname {
  grid-area: docname;
  cursor: pointer;
}

.doclist {
  grid-area: subfolders;
}
